/* chatbot.css */
* {
  box-sizing: border-box;
}

.bot-button:hover {
  background-color: var(--result-hover);
}

.text-section {
  position: fixed; /* or position: absolute; */
  top: 400px; /* Adjust the top distance according to your design */
  right: 50px;
  display: none;
  width: 300px;
  max-height: 500px;
  overflow-y: auto;
  border: 2px solid var(--text-color);
  background-color: var(--service);
  border-radius: 30px;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
  z-index: 300;
}

.text-section::-webkit-scrollbar {
  width: 12px;
}

.text-section::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 10px;
}

.text-section::-webkit-scrollbar-track {
  background-color: var(--service);
  border-radius: 8px;
  margin: 30px 0;
}

#result {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.chat-entry {
  margin-bottom: 10px;
}

.question {
  font-weight: bold;
  margin-bottom: 5px;
}

.answer {
  color: var(--text-color);
  margin: 10px 0;
}

#ans {
  color: var(--text-color);
  margin: 10px 0;
  font-size: 16px;
  background: transparent;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

#ans::placeholder {
  color: var(--text-color);
}

#ans:focus {
  outline: 0;
  outline-offset: 0;
}

#close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 16px;
  color: var(--text-color);
  background: none;
  border: none;
  outline: none;
  margin: 0;
}

.chatbot-input {
  background-color: transparent;
  color: var(--textwhite);
  height: auto;
  outline: none;
  width: 100%;
  border: 0;
  padding: 0.5em 1.5em 0.5em 0;
  font-size: 1em;
  line-height: 3; /* Adjust the line height as needed */
}

.chatbot-input::placeholder {
  color: var(--textwhite);
  white-space: pre-wrap;
}

/* chat buttons */

.chat-buttons button {
  color: #ffffff;
  border: 1px solid #ffffff52;
  border-radius: 20px;
  box-shadow: 10px 5px 30px 5px #00000048;
  background: var(--service);
  color: var(--text-color);
  width: 150px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px auto;
}
.chat-buttons button:hover {
  transform: scale(1.1);
}

/* button */

.bot-button {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: fixed;
  top: 670px; /* Adjust the top distance according to your design */
  right: 15px;
  z-index: 300;
  width: 75px; /* Set a fixed width */
  height: 75px; /* Set a fixed height */
  border-radius: 50%;
  animation: bot-button-bounce 4s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bot-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbot-button 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
}

@keyframes glowingbot-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes bot-button-bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

.bot-button:active {
  color: #000;
}

.bot-button:active:after {
  background: transparent;
}

.bot-button:hover:before {
  opacity: 1;
}

.bot-button:after {
  z-index: -1;
  content: "";
  position: absolute;

  background: #191919;
  left: 0;
  top: 0;
  width: 75px; /* Set a fixed width */
  height: 75px; /* Set a fixed height */
  border-radius: 50%;
}
