.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container iframe {
  width: 90%; 
  height: 400px;
  box-shadow: 15px 15px 30px #acacac, -5px -5px 15px #ffffff;
  background-color: var(--result-hover);
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.content-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.contact-page-container {
  padding: 50px;
}

.left-section {
  flex: 1;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.left-section p {
  padding: 20px;
}

.contact-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-list {
  text-align: start;
  
}

.name {
   clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.form {
  border: 5px solid blue;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  width: 75%; /* Take up the full width */
  box-shadow: 15px 15px 30px #acacac, -15px -15px 30px #ffffff;
  background-color: var(--result-hover);
  border: 1px solid rgba(255, 255, 255, 0.454);
  margin: 20px;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

input {
  box-sizing: border-box;
  display: block;
  width: 50%;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 10px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  margin: 10px;
}

button {
  justify-content: center;
  align-items: center;
  margin: 2em;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 10px;
  outline: 0;
  width: 25%;
  margin-bottom: 50px;
}

textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: block;
  width: 50%;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  margin: 10px;
}

#submitBtn {
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; 

}

#submitBtn:hover {
  background-color: #999; 
}

#submitBtn.success {
  background-color: green;
}

#submitBtn.error {
  background-color: red;
}

/* contatcs names */

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}



strong {
  font-weight: bold;
}

.fa fa-map-marker {
  color: #000;
}

.icons {
  display: flex;
  flex-direction: column;
}

.icons i {
  margin-bottom: 10px;
  display: flex;

  justify-content: flex-start;
}

.icons i .fa {
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h2 {
    font-size: 20px; 
    margin: 20px;
    
  }

  .contact-list {
    font-size: 12px;
  }

  .left-section,
  .contact-container {
    width: 100%;
  }

  .form {
    width: 100%;
  }

  input,
  textarea {
    width: 50%;
  }

  #submitBtn {
    width: 50%;
  }
}

@media only screen and (max-width: 430px) {
  .contact-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .map-container {
    padding-top: 30px;
    width: 100%;
  }
  input,
  textarea {
    width: 75%;
  }
}
