body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: var(--main);
}

:root {
  --top: rgb(30,144,255);
  --active: rgb(224, 9, 19);
  --textwhite:	#fff;
  --textblack:	#000000;
  --main:rgb(255,248,220);
}

.menu-icon {
  display: none;
}

.navbar {
  height: auto;
  background-color: var(--top);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  position: relative;
}

h1 {
  color: var(--textwhite);
  margin-right: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.leftside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 5vh;
  text-align: center;
  color: var(--textwhite);
  margin-bottom: 5vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10vh;
  color: var(--textwhite);
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-elements ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 35px;
}

.nav-elements ul a {
  font-size: 25px;
  font-weight: 600;
  color: var(--textwhite);
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-elements ul li i {
  font-size: 25px;
  color: var(--textwhite);
  margin-right: 7px;
}

.nav-elements ul li a::after {
  content: "";
  width: 0;
  background-color: var(--textwhite);
  height: 3px;
  display: flex;
  transition: 0.5s;
}

.nav-elements ul li a:hover::after {
  width: 100%;
}

.nav-elements ul a.active {
  color: var(--active);
}

@media (max-width: 700px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    color: var(--textwhite);
    font-size: 35px;
    z-index: 4;
  }

  .nav-elements {
    position: absolute;
    width: 0;
    height: 100vh;
    overflow: hidden;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in;
  }
  .nav-elements.active {
    width: 200px;
    background-color: var(--top);
    transition: 0.8s;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding-left: 20px;
  }
  .nav-elements ul li {
    margin-right: auto;
    margin-top: 22px;
  }
}
