:root {
  --top: #262018;
  --active: #c16e36;
  --textwhite: #ded1b7;
  --textblack: #62361e;
  --main: #ded1b7;
}

.menu-icon {
  display: none;
}

.navbar {
  height: auto;
  background-color: var(--top);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  position: relative;
}

h1 {
  font-size: 6vh;

  color: var(--textblack);
  margin-right: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h3 {
  font-size: 5vh;
  color: var(--textwhite);
  margin-right: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.leftside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 5vh;
  color: var(--textwhite);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10vh;
  color: var(--textwhite);
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-elements ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 35px;
}

.nav-elements ul a {
  font-size: 25px;
  font-weight: 600;
  color: var(--textwhite);
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-elements ul li i {
  font-size: 25px;
  color: var(--textwhite);
  margin-right: 7px;
}

.nav-elements ul li a::after {
  content: "";
  width: 0;
  background-color: var(--textwhite);
  height: 3px;
  display: flex;
  transition: 0.5s;
}

.nav-elements ul li a:hover::after {
  width: 100%;
}

.nav-elements ul a.active {
  color: var(--active);
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    color: var(--textwhite);
    font-size: 35px;
    z-index: 4;
  }

  .nav-elements {
    position: absolute;
    width: 0;
    height: 100vh;
    overflow: hidden;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in;
  }
  .nav-elements.active {
    width: 200px;
    background-color: var(--top);
    transition: 0.8s;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding-left: 20px;
  }
  .nav-elements ul li {
    margin-right: auto;
    margin-top: 22px;
  }
  .search-container {
    display: flex;
    align-items: center;
    max-width: 14em;
    width: fit-content;
    height: fit-content;
    background-color: #5c6370;
    border-radius: 0.8em;
    overflow: hidden;
    margin-top: 10px;
  }

  .search-container .search-input {
    font-size: 14px;
  }
  .additional-image-container {
    display: flex;
    flex-direction: column;
  }
  .additional-image {
    width: 100%;
    margin: 20px 40px;
  }
}

/* Search bar */

.search-container {
  display: flex;
  align-items: center;
  max-width: 20em;
  min-width: 10em;
  width: fit-content;
  height: fit-content;
  background-color: #62361e;
  border-radius: 0.8em;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 20px;
}

.search-icon {
  height: 1em;
  padding: 0 0.5em 0 0.8em;
  color: var(--textwhite);
}

.search-input {
  background-color: transparent;
  color: var(--textwhite);

  outline: none;
  width: 100%;
  border: 0;
  padding: 0.5em 1.5em 0.5em 0;
  font-size: 1em;
}

.search-input::placeholder {
  color: var(--textwhite);
}

.additional-image-container {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.additional-image {
  width: 65%;
  display: flex;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 430px) {

.container {
  width: 100%;
  padding: 0;
}
.leftside img {
  padding: 10px;
  border: none;
}
.menu-icon {
  padding: 10px;
}

 
}
